# =========================
# AWS CONFIG
# =========================
AWS_REGION=us-east-1

# =========================
# CHAINLIT AUTH SECRET
# =========================
CHAINLIT_AUTH_SECRET=

# =========================
# AGENT BACKEND / BEDROCK
# =========================
AGENT_BACKEND=bedrock_agent  # or strands

# =========================
# BEDROCK KNOWLEDGE BASE ID
# =========================
BEDROCK_KNOWLEDGE_BASE_ID=

# =========================
# BEDROCK MODEL ID
# =========================
BEDROCK_MODEL_ID=us.anthropic.claude-sonnet-4-6

# =========================
# BEDROCK AGENTS (SINGLE COORDINATOR)
# =========================

SINGLE_COORDINATOR_BEDROCK_AGENT_ID=
SINGLE_COORDINATOR_BEDROCK_AGENT_ALIAS_ID=

# =========================
# BEDROCK AGENTS (MULTI-AGENT COORDINATOR)
# =========================

COORDINATOR_BEDROCK_AGENT_ID=
COORDINATOR_BEDROCK_AGENT_ALIAS_ID=

# =========================
# SQL GENERATOR AGENT
# =========================
SQL_GENERATOR_BEDROCK_AGENT_ID=
SQL_GENERATOR_BEDROCK_AGENT_ALIAS_ID=

# =========================
# SQL EXECUTOR AGENT
# =========================
SQL_EXECUTOR_BEDROCK_AGENT_ID=
SQL_EXECUTOR_BEDROCK_AGENT_ALIAS_ID=

# =========================
# LAMBDA
# =========================
STORE_SQL_LAMBDA_FUNCTION_NAME=store_sql_sra
STRANDS_SQL_LAMBDA_FUNCTION_NAME=

# =========================
# STRANDS SESSION STORAGE
# =========================
# default: src/smart_report_analyst/service/strands/session/storage
STRANDS_SESSION_STORAGE_DIR=src/smart_report_analyst/service/strands/session/storage

# =========================
# MYSQL (RDS)
# =========================
MYSQL_HOST=
MYSQL_PORT=3306
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DB=

# =========================
# ENVIRONMENT
# =========================
ENVIRONMENT=development